.Widgets{
    position: sticky;
    top: 80px;
    flex: 0.2;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
    height: fit-content;
    padding-bottom: 10px;
}

.WidgetsHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.WidgetsHeader > h2{
    font-size: 16px;
    font-weight: 400;
}

.WidgetsArticle{
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.WidgetsArticle:hover{
    background-color: whitesmoke;
}

.WidgetsArticleLeft{
    color: #0177b7;
    margin-right: 5px;
}

.WidgetsArticleLeft > .MuiSvgIcon-root{
    font-size: 15px;
}

.WidgetsArticleRight{
    flex: 1;
}

.WidgetsArticleRight > h4{
    font-size: 14px;
}

.WidgetsArticleRight > p{
    font-size: 12px;
    color: gray;
}